.List{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.List>input{
  width:100%;
  border:none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.List>input:focus{
  outLine:none;
  border-bottom: 1px solid rgb(37,147, 225);
}

.List .todos_warpper{
  display:flex;
  flex-direction: column;
  gap: 20px;
}